.bottomText {
    color: white;
    transition: opacity 0.3s ease;
    opacity: 1;
    margin: 0;
    cursor: pointer;
    user-select: none;
}

.bottomText:hover {
    opacity: 0.7;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(4, 320px);
    column-gap: 15px;
    row-gap: 40px;
    justify-content: center;
    overflow-x: scroll;
}

.gridItem {
    width: 100%;
    height: auto;
}

.dotContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.dot {
    width: 10px;
    height: 10px;
    margin: 0 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    animation: bounce 1.5s infinite;
}

.dot:nth-child(2) {
    animation-delay: 0.3s;
}

.dot:nth-child(3) {
    animation-delay: 0.6s;
}

@media screen and (max-width: 1300px) {
    .gridContainer {
        grid-template-columns: repeat(3, 320px);
    }
}

@media screen and (max-width: 1047px) {
    .gridContainer {
        grid-template-columns: repeat(2, 320px);
    }
}

@media screen and (max-width: 700px) {
    .gridContainer {
        grid-template-columns: repeat(2, 240px);
    }
}

@media screen and (max-width: 520px) {
    .gridContainer {
        grid-template-columns: repeat(2, 160px);
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}